.logininput{
    height:40px;
    border: 0.4px solid rgb(189, 179, 179)!important;
    background-color: #fff;
  text-align: left!important;
}

.margenleft{
    text-align: left;
}

.aligncenter{
    text-align: center;
}
.center{
max-width:1200px;
min-width:150px;
}
.brandcenter{
    max-width:1300px;
    min-width:100px;
 
   

    }