.container {
  position: relative;
  height: 100%;
  width: 20%;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dropdown-toggle {
    display: block;
    width: 100%;
  }

  .dropdown-content {
    display: block;
  }
}

.sectionone {
    width:82rem;
    height: fit-content;
    position: relative;
  }
  .sectiontwo{
    width:100rem;
  }
  span {
    position: relative;
  }
  #nn {
    position: relative;
    background-color: rgb(176, 151, 151);
    height: 300px;
  }
  /*  */
  
  .swiper {
    width: 1200px;
    /* height: 500px; */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    margin: 0px !important;
    height: 200px !important;
  
    width: 200px !important;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 200px;
    height: 200px;
  
    object-fit: cover;
  }
  .second {
    position: relative;
    /* width: 1000px; */
  }
  .adslider img {
    height: fit-content;
    /* height: 256px; */
    width: 1200px;
    box-sizing: content-box;
  }
  .para {
    height: 180px;
    margin-bottom: 70px;
  }
  .sider1 {
    /* top: 395px; */
    width: 200px;
    height: fit-content;
    position: relative;
  }
  .sider {
    /* background-color: aqua!important; */
  }
  .cards {
    padding: 0px !important;
    /* width: 988px; */
    /* height: 500px; */
    /* background-color: blue; */
    position: relative;
    /* left: 212px; */
    margin: 0;
    box-sizing: border-box;
  }
  
  .change1:hover i,
  .change1:hover a {
    color: rgb(154, 142, 142) !important;
  }
  .change2:hover input,
  .change2:hover span {
    text-decoration: underline;
  }